{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% set bank_balance = current_user.bank_item.balance if current_user.bank_item else 0.0 %}
{% set bank_goal = current_user.goal_amount %}
{% set modules = current_user.modules %}

{% block content %}
<div class="ui stackable grid">
    <div class="computer tablet only row summary-row">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <h4 class="ui center aligned header-welcome-back">Welcome back, {{current_user.first_name}}.</h4>
            <h1 class="ui center aligned header-summary">
                {% if bank_balance < bank_goal and modules_left > 0 %}
                    You have <span class="header-summary-query">${{str_format(bank_goal - bank_balance)}}</span>
                    left to save and <span class="header-summary-query">{{modules_left}}</span> modules left to
                    complete.
                {% elif bank_balance >= bank_goal and modules_left > 0 %}
                    You have <span class="header-summary-query">{{modules_left}}</span> modules left to complete.
                    Congrats on saving <span class="header-summary-query">${{str_format(bank_balance)}}</span>!
                {% elif bank_balance < bank_goal and modules_left == 0 %}
                    You have <span class="header-summary-query">${{str_format(bank_goal - bank_balance)}}</span>
                    left to save. Congrats on completing the <span class="header-summary-query">
                    {{modules|length}}</span> modules!
                {% else  %}
                    Congrats on saving <span class="header-summary-query">${{str_format(bank_balance)}}</span> and on
                    completing the <span class="header-summary-query">{{modules|length}}</span> modules. Go you!
                {% endif %}
            </h1>
            {% set progress_balance = bank_balance if bank_balance <= bank_goal else bank_goal %}
            {% set progress_balance = progress_balance / bank_goal * 100 %}
            <h2 class="header-progress-bar">${{ bank_balance }}</h2>
            <div class="ui red progress" data-percent="{{progress_balance}}" style="background-color: white">
                <div class="bar"></div>
            </div>
            <br>
        </div>
        <div class="three wide column"></div>
    </div>
    <div class="row">
        <div class="three wide computer tablet only column"></div>
        <div class="ten wide computer tablet only column">
            <h4 class="ui header-modules">Modules </h4>
            <i class="info circle icon modules-info" data-content="Instructions coming soon!"></i>
            <div class="ui three column grid">
                {% for module in modules %}
                    {% set i = loop.index - 1 %}
                    <div class="column">
                        <div class="ui segment module-segment" {% if module %}
                             style="mix-blend-mode: normal; opacity: 0.5;"{% endif %}>
                            <div class="ui checkbox module">
                                <input type="file" id="file{{i}}" hidden>
                                <label data-content="Upload a file." class="module{{i}}-checkbox"></label>
                                <span class="module-label">Module {{i + 1}}<br />
                                    {% if module %}
                                        <a class="module-sub-label" href={{ module.certificate_url }}>
                                            {{ module.filename }}</a>
                                    {% endif %}
                                </span>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                <script type="application/javascript">
                    $('.checkbox.module>label').popup({
                        variation: 'inverted',
                        distanceAway: 0,
                        offset: -6,
                    });
                    $('.modules-info').popup({variation: 'inverted'})
                    {% for i in range(modules|length) %}
                        $('.module{{i}}-checkbox').click(function () {
                            $('#file{{i}}').click();
                        })
                    {% endfor %}
                </script>
            </div>
        </div>
        <div class="three wide computer tablet only column"></div>
    </div>
</div>

{# Implement CSRF protection for site #}
{% if csrf_token()|safe %}
    <div style="visibility: hidden; display: none">
      <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
    </div>
{% endif %}

<script>

    $('.ui.red.progress').progress();

 function uploadFile(file, s3Data, url, urlUpload, fieldName){
  // basic validation
  var xhr = new XMLHttpRequest();
  xhr.upload.addEventListener("progress", updateProgress);
  xhr.open('POST', urlUpload);
  xhr.setRequestHeader('x-amz-acl', 'public-read');

  var postData = new FormData();
  for(key in s3Data.fields){
    postData.append(key, s3Data.fields[key]);
  }
  postData.append('file', file);
  console.log(file);
  $('.ui.basic.modal')
    .modal('show')
  ;
  function updateProgress (e) {
    if (e.lengthComputable) {
      var percentCompleteShort = ((100*e.loaded)/e.total).toFixed(0);
      $('#progress').text(percentCompleteShort);
    }
  }
  xhr.onreadystatechange = function()  {
    if(xhr.readyState === 4){
      if(xhr.status === 200 || xhr.status === 204) {
        progressUpdate(url, file.name, parseInt(fieldName));
      }
      else{
        console.log("\n\n\nstatus: ", xhr.status);
        alert('Could not upload file.');
      }
    }
  };
  xhr.send(postData);
}

function getSignedRequest(file, fieldName){
  var xhr = new XMLHttpRequest();
  xhr.open('GET', `/account/sign-s3?file-name=${file.name}&file-type=${file.type}`);
  xhr.onreadystatechange = function() {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        var response = JSON.parse(xhr.responseText);
        console.log("response form json dumps: ", response);
        uploadFile(file, response.data, response.url, response.url_upload, fieldName);
      }
      else{
        alert('Could not get signed URL.');
      }
    }
  };
  xhr.send();
}

function progressUpdate(url, filename, field) {
    var module_map = {};
    module_map["module_num"] = field;
    module_map["certificate_url"] = url
    module_map["filename"] = filename
    $.ajax({
        type: 'POST',
        url: "{{ url_for('account.modules_update') }}",
        data: {data: JSON.stringify(module_map)},
        dataType: 'json',
        success: function(data) {
            if (data.redirect) {
                window.location.href = data.redirect;
            }
        }
    }).done(function () {
        location.reload();
    });
}
   $(document).ready(function () {
        $('body').on('change', 'input:file', function() {
            var file = $(this)[0].files[0];
            console.log(this.id);
            console.log(file);
            getSignedRequest(file, this.id.slice(-1));
        });
        $('input:checkbox').each(function() {
            this.disabled = true;
        });
    });
</script>

{% endblock %}