{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Account Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Savings', 'account.savings',
                                    description='View and Update Savings Progress', icon='tasks icon') }}
                {{ dashboard_option('View Modules', 'account.modules',
                                    description='View and update progress on modules', icon='tasks icon') }}
                {% if not current_user.completed_forms %}
                {{ dashboard_option('Applicant Profile Form', 'account.applicant_profile',
                                    description='Fill out applicant profile', icon='file icon') }}
                {% else %}
                {{ dashboard_option('Applicant Profile Form Edit', 'account.applicant_profile_edit',
                                    description='Edit applicant profile', icon='edit icon') }}
                {% endif %}
                {{ dashboard_option('Education Profile Form', 'account.education_profile',
                                    description='Fill out education profile', icon='file icon') }}
            </div>
        </div>
    </div>
{% endblock %}
