{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui grid container">
        <div class="eight wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">Applicant Information</h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
                {{ f.render_form_field(form.first_name) }}
                {{ f.render_form_field(form.last_name) }}
                {{ f.render_form_field(form.dob) }}
                {{ f.render_form_field(form.ethnicity) }}
                {{ f.render_form_field(form.mobile_phone) }}
                {{ f.render_form_field(form.home_phone) }}
                {{ f.render_form_field(form.marital_status) }}
                {{ f.render_form_field(form.household_status) }}

                {{ f.render_form_field(form.street) }}
                {{ f.render_form_field(form.street2) }}
                {{ f.render_form_field(form.city) }}
                {{ f.render_form_field(form.state) }}
                {{ f.render_form_field(form.zip) }}

{#                {{ f.render_form_field(form.contact_info) }}#}
{#                {{ f.render_form_field(form.age) }}#}

                {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                {{ f.form_message(flashes['info'], header='Information', class='info') }}
                {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                {{ f.render_form_field(form.submit) }}
            {{ f.end_form(form) }}
        </div>
    </div>
{% endblock %}