{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>Modules</h1>
        {% for i in range(num_modules) %}
          <div class="ui checkbox">
            {% if i+1 in modules.keys() %}
              <input id={{ "module" + (i+1)|string }} type="checkbox" checked style="display:inline-block">
            {% else %}
              <input id={{ "module" + (i+1)|string }} type="checkbox" style="display:inline-block"> 
            {% endif %}
            <label style="display:inline-block">Module {{ (i+1)|string }}</label>
            <input type='file' id={{ "file" + (i+1)|string }} style="display:inline-block">
            {% if i+1 in modules.keys() %}
                {{ modules[i+1] }}
            {% endif %}
            </input>
          </div>
          <div class="ui divider"></div>
        {% endfor %}
    </div>
<script>
 function uploadFile(file, s3Data, url, urlUpload, fieldName){
  // basic validation
  var fileType = url.substring(url.lastIndexOf('.') + 1);
  console.log(url);
  console.log(urlUpload);

  var xhr = new XMLHttpRequest();
  xhr.upload.addEventListener("progress", updateProgress);
  xhr.open('POST', urlUpload);
  xhr.setRequestHeader('x-amz-acl', 'public-read');

  var postData = new FormData();
  for(key in s3Data.fields){
    postData.append(key, s3Data.fields[key]);
  }
  postData.append('file', file);
  console.log(file);
  $('.ui.basic.modal')
    .modal('show')
  ;
  function updateProgress (e) {
    if (e.lengthComputable) {
      var percentComplete = ((100*e.loaded)/e.total).toFixed(2);
      var percentCompleteShort = ((100*e.loaded)/e.total).toFixed(0);
      $('#progress').text(percentCompleteShort);
    }
  }
  xhr.onreadystatechange = function()  {
    if(xhr.readyState === 4){
      if(xhr.status === 200 || xhr.status === 204) {
        progressUpdate(url, file.name, parseInt(fieldName));
      }
      else{
        console.log("\n\n\nstatus: ", xhr.status);
        alert('Could not upload file.');
      }
    }
  };
  xhr.send(postData);
}

function handleFunc(url, fieldName) {
  files[fieldName] = url;
  console.log(files)
};

/*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
 */
function getSignedRequest(file, fieldName){
  var xhr = new XMLHttpRequest();
  xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
  xhr.onreadystatechange = function() {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        var response = JSON.parse(xhr.responseText);
        console.log("response form json dumps: ", response);
        uploadFile(file, response.data, response.url, response.url_upload, fieldName);
      }
      else{
        alert('Could not get signed URL.');
      }
    }
  };
  xhr.send();
}

function progressUpdate(url, filename, field) {
    var module_map = {};
    module_map["module_num"] = field;
    module_map["certificate_url"] = url
    module_map["filename"] = filename
    $.ajax({
        type: 'POST',
        url: "{{ url_for('main.modules_update') }}",
        data: {data: JSON.stringify(module_map)},
        dataType: 'json',
        success: function(data, textStatus) {
            if (data.redirect) {
                window.location.href = data.redirect;
            }
        }
    }).done(function (response) {
        location.reload();
    });
}
   $(document).ready(function () {
        $('body').on('change', 'input:file', function() {
            var file = $(this)[0].files[0];
            console.log(this.id);
            console.log(file);
            getSignedRequest(file, this.id.slice(-1));
        });
        $('input:checkbox').each(function() {
            this.disabled = true;
        });
    });
</script>
{% endblock %}
