{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Admin Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Scholars', 'admin.registered_users',
                                    description='View and manage user accounts', icon='users icon') }}
                {{ dashboard_option('New User', 'admin.invite_user',
                                    description='Invites a new user to create their own account, scholars and admins alike', icon='add user icon') }}
                {{ dashboard_option('Airtable', 'admin.manage_airtable',
                                    description='Portal to Airtable', icon='table icon') }}
                {{ dashboard_option('Admin Bank Accounts', 'admin.link_admin_bank',
                                    description='Link bank account for accessing student balances', icon='money bill alternate outline icon') }}
                {{ dashboard_option('SMS Reminders', 'admin.link_admin_bank',
                                    description='SMS Reminders', icon='phone icon') }}
                {{ dashboard_option('Resources', 'account.resources',
                                    description='Resources', icon='edit outline icon') }}
                {{ dashboard_option('About', 'account.about',
                                    description='About', icon='edit outline icon') }}
                {{ dashboard_option('Student View', 'account.index',
                                    description='Student view of the application', icon='expand icon') }}
            </div>
        </div>
    </div>
{% endblock %}