{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block scripts %}
{% endblock %}

{% block content %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script> -->
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <style>
        .account-name {
            display: inline;
            border: 0.5px solid transparent;
            border-radius: 3px;
        }
    </style>
    <script>
    function editAccountName(id) {
        var control = $('#edit-account-name-'+id);
        var element = $('#account-name-'+id);
        if (control.text() == 'save') {
            var qs = $.param({'new-name': element.text()})
            window.location.replace("/admin/bank/" + id + "/update-account-name?" + qs);
        }
        control.addClass('green');
        control.text('save');
        element.attr('contenteditable', 'true');
        element.css('border-color', 'grey');
    }
    </script>
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <button id="link-btn" class="ui basic compact button">Link bank account</button>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            <br/><br/>
            <div>
                {% for i in range(bank_accounts|length) %}
                    {% set id = bank_accounts[i].id %}
                    <div class="ui segment">
                        <div>
                            <h2 class="account-name" id="account-name-{{id}}">{{ bank_accounts[i].name }}</h2>
                            <a class="ui basic compact button" id="edit-account-name-{{id}}"
                               onclick="editAccountName({{id}})" style="margin-left: 8px">edit</a>
                            <a href="{{ url_for('admin.delete_admin_bank', bank_id=id) }}">
                                <i class="trash alternate outline large icon" style="float: right; margin-top: 8px"></i>
                            </a>
                        </div>
                        <div class="ui divider"></div>
                        <div class="ui three column grid">
                            {% for item in bank_items[i] %}
                                <div class="column">
                                    <div class="ui segment">
                                        {% if not item.is_open %}
                                            <span class="ui red label">Expired</span>
                                        {% endif %}
                                        <strong>{{ item.official_name }}</strong>
                                        <div>
                                            <span>Balance: ${{ item.balance }}</span>
                                        </div>
                                        <div>
                                            <span>{{ item.subtype.title() }} {{ item.mask }}</span>
                                        </div>
                                        {% if item.scholar %}
                                            <br/>
                                            <span class="ui basic label">
                                                <a href="{{ url_for('admin.user_info', user_id=item.scholar.id) }}">{{ item.scholar.full_name() }}</a>
                                            </span>
                                        {% endif %}
                                        <br>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                {% if bank_accounts|length == 0 %}
                    <h3>Nothing to show here. Please click "Link Bank Account" above</h3>
                    <img src="{{url_for('static', filename='images/sad-dog.jpg')}}">
                {% endif %}
            </div>
            <script>
            (function($) {
                var handler = Plaid.create({
                    apiVersion: 'v2',
                    clientName: 'Core Scholars x Hack4Impact',
                    env: '{{ config.PLAID_ENV }}',
                    product: ['transactions'],
                    key: '{{ config.PLAID_PUBLIC_KEY }}',
                    onSuccess: function(public_token) {
                        $.post('/admin/get-access-token', {public_token: public_token}, function() {
                            $('#container').fadeOut('fast', function() {
                                $('#intro').hide();
                                $('#app, #steps').fadeIn('slow');
                            });
                        });
                        location.reload();
                    },
                });
                $('#link-btn').on('click', function(e) {
                    handler.open();
                });
            })(jQuery);
            </script>
        </div>
    </div>

    
    

{% endblock %}
