{# This macro is called on the user dashboards. In this case the administrator dashboard
   at the route admin.index
#}

{% macro render_core_desktop_menu(current_user) %}
    {% if not current_user.is_admin() %}
        <a class="active item core-item" href = "{{url_for('account.about')}}">ABOUT</a>
        <a class="active item core-item" href = "{{url_for('account.resources')}}">RESOURCES</a>
        <div class="item">
            <a href="{{ url_for('main.index') }}">
                <img class="ui tiny image" src="{{ url_for('static', filename='images/core.png') }}" />
            </a>
        </div>
        <a class="active item core-item" href = "{{url_for('account.logout')}}">LOGOUT</a>
        <a class="item core-item" href="{{url_for('account.manage')}}">ACCOUNT</a>
    {% else %}
        <a class="active item core-item" href = "{{url_for('account.logout')}}">LOGOUT</a>
        <div class="item">
            <a href="{{ url_for('main.index') }}">
                <img class="ui tiny image" src="{{ url_for('static', filename='images/core.png') }}" />
            </a>
        </div>
        <a class="item core-item" href="{{url_for('account.manage')}}">ACCOUNT</a>
    {% endif %}
{% endmacro %}

{% macro render_core_mobile_menu(current_user) %}
  <a class="item" href = "/account/about">ABOUT</a>
  <a class="item" href = "/account/resources">RESOURCES</a>
  <a class="item" href = "/account/logout">LOGOUT</a>
  <a class="item" href="{{url_for('account.manage')}}"><i class="user circle icon"></i></a>
{% endmacro%}

{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon in endpoints %}
        <a class="item {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">
            {% if icon %}
                <i class="{{ icon }} icon"></i>
            {% endif %}
            {{ name | safe }}
        </a>
    {% endfor %}
{% endmacro %}

{# This is called for all users (including anonymous users). It renders the basic left side of the 
   navigation bar. In the default case, the left hand side will read 'Flask-Base'. In the logged in
   admin case, there will also be an item that links to admin/ route. I have added an example use of
   render_menu_items.
#}

{% macro header_items(current_user) %}
    {% set endpoints = [
      ('main.index', config.APP_NAME, 'home'),
      ('main.about', 'About', 'info')
    ]%}
    {% set user = [] %}
    {% if current_user.is_authenticated %}
      {% set user = ([(current_user.role.index + '.index', current_user.role.name + ' Dashboard', 'user')]) %}
    {% endif %} 
    {{ render_menu_items( endpoints +  user ) }}
{% endmacro %}

{# This renders the right hand side of the navigation bar. If the user is logged in, it links to 
   manage their account and logout (account routes). Otherwise, it links to register and login.
#}
{% macro account_items(current_user) %}
    {% if current_user.is_authenticated %}
      {% set endpoints = [
        ('account.manage', 'Your Account', 'settings'),
        ('account.logout', 'Log out', 'sign out')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% else %}
      {% set endpoints = [
        ('account.register', 'Register', 'list layout'),
        ('account.login', 'Log In', 'sign in')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}

{% macro create_dropdown(dropdown) %}
  {% for item in dropdown %}
    {% if item | length == 3 %}
      {{ render_menu_items([item]) }}
    {% elif item | length == 2 %}
      <div class="ui dropdown item" onClick="changeMenu(this)">{{ item[0] }} <i class="dropdown icon"></i>
        <div class="inverted black menu">
          {{ create_dropdown(item[1]) }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro desktop_nav(current_user, dropdown=None) %}
    <div class="computer tablet only row">
        <div class="ui five item text massive stackable menu">
          {% if current_user.is_authenticated %}
            {{ render_core_desktop_menu(current_user) }}
          {% else %}
            <div class="item">
                <img class="ui tiny image" src="{{ url_for('static', filename='images/core.png') }}" />
            </div>
          {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro mobile_nav(current_user, dropdown=None) %}
  <div class="mobile only row">
    <div class="ui fixed main menu">
        {{ render_core_mobile_menu(current_user) }}
    </div>
  </div>
{% endmacro %}

{% macro render_nav(current_user, dropdown=[]) %}
    <nav class="ui navigation grid {% if endpoints %}has-submenu{% endif %}">
        {{ mobile_nav(current_user, dropdown=dropdown) }}
        {{ desktop_nav(current_user, dropdown=dropdown) }}
    </nav>
{% endmacro %}
